# Auto detect text files and perform LF normalization
* text=auto
*.psd filter=lfs diff=lfs merge=lfs -text
MagicDNA_v2.0.mlappinstall filter=lfs diff=lfs merge=lfs -text
MagicDNA_v2.0.mlappinstall filter=lfs diff=lfs merge=lfs -text
